<!DOCTYPE html>
{% extends "reviewer/reviewerbase.html"%}
{% block body_block %}


<h3>{{book.title}}</h3>
<h4>Author: {{book.author.author_name}}</h4>
<div class="col-xs-8">
  <h3>Reviews:</h3>
  {% for review in reviews %}


  <p>Rating:
    {% if review.rating == 1%}
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    {%elif review.rating == 2%}
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    {%elif review.rating == 3%}
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    {%elif review.rating == 4%}
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    {%elif review.rating == 5%}
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    <i class="fa fa-star-o fa-stack-5x" style="color:#ffe400;" aria-hidden="true"></i>
    {% else %}
    <span>No Reviews for this title</span>

    {% endif %}

  </p>
  <p><a href="/users/{{review.reviewer.id}}">{{review.reviewer.first_name}}</a> says: {{review.review}}</p>
  <p>Posted on {{review.created_at}}</p>
  {% if review.reviewer.id == user_id %}

  <a href="/delete/{{review.id}}/{{review.book.id}}">Delete Review</a>
  {% endif %}
  <hr>
  {% endfor %}
</div>

<div class="col-xs-4">
  <h3>Add a Review: </h3>
  <form action="/books/reviewpost/{{book.id}}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <textarea class="form-control" name="review" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label>Rating</label>
      <select class="form-control" name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Submit Review</button>
  </form>
</div>



{% endblock %}
