<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'amadonapp/css/style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </head>
  <body>
    <div class="container">
      <h1>Thank you for your business!</h1>
      <p>We charged your credit card for $19.99</p>
      <p>You have ordered 19 items so far and spent</p>
      <p>$249.99 with Amadon.com</p>

      <a href="/"><button type="button" class="btn-primary" name="button">Go Back!</button></a>

    </div>
  </body>
</html>
