<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amadon</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'amadonapp/css/style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </head>
  <body>
    <div class="container">
      <h1>AMADON STORE!</h1>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="item">Item</th>
            <th class="price">Price</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in items %}
          <tr>
            <td class="item">{{ product.itemName }}</td>
            <td class="price">{{product.price}}</td>
            <td class="actions">
              <form action="/amadon/buy/{{product.id}}"  method="POST">
                {% csrf_token %}
                <select name="quantity">
                  <option selected disabled>--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select>
                <input type="hidden" >
                <input type="submit" class="btn btn-success" value="Buy!">
              </form>
            </td>

          </tr>

          {% endfor %}
        </tbody>
      </table>

    </div>
  </body>
</html>
