div.container{
  margin: 0px auto;
  width: 900px;
}

a:link{
  margin-right: 10px;
  text-decoration: underline;
}

#showhtml{
  font-size: 15px;
}



.container form {
  margin-top: 25px;
  margin-bottom: 15px;
}
