<!DOCTYPE html>
{% extends 'log_reg/base.html'%}
  {% block body_block %}

  <h3>Add a new user</h3>
  <a href="/dashboard/admin"><button class="btn btn-primary" style="margin-left:440px;margin-bottom:30px;">Return to Dashboard</button></a>

  {% if messages %}
  <div class="alert alert-danger">
    <ul>
    {% for message in messages %}
      <li style="list-style:none;">{{message}}</li>
    {% endfor%}
    </ul>
  </div>
  {% endif %}
  <form action="/users/submit" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label>Email address: </label>
      <input type="text" class="form-control registration_page" name='reg_email'>
      <small id="emailHelp" class="form-text text-muted">Make sure you use a valid email</small>
    </div>
    <div class="form-group">
      <label>First Name: </label>
      <input type="text" class="form-control registration_page" name='reg_first_name'>
      <small id="nameHelp" class="form-text text-muted">Your name must be at least 2 characters</small>

    </div>
    <div class="form-group">
      <label>Last Name: </label>
      <input type="text" class="form-control registration_page" name='reg_last_name'>
      <small id="nameHelp" class="form-text text-muted">Your name must be at least 2 characters</small>
    </div>
    <div class="form-group">
      <label>Password: </label>
      <input type="password" class="form-control registration_page" name="reg_password">
      <small id="passwordHelp" class="form-text text-muted">Password must be at least 8 characters and must contain at least 1 uppercase and 1 numeric value</small>
    </div>
    <div class="form-group">
      <label>Confirm Password: </label>
      <input type="password" class="form-control registration_page" name="conf_reg_password">
      <small id="passwordHelp" class="form-text text-muted">Passwords must match</small>

    </div>

    <button type="submit" class="btn btn-success registration_page">Register</button>

  </form>

  {% endblock %}
