<!DOCTYPE html>
{% extends "log_reg/base.html"%}
  {% block body_block %}
      <div class="jumbotron">
        <h2 class="display-3">Welcome to the Full User Dashboard</h2>
        <p>Reusing "Login and Registration" code for this one!!!</p>
        <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login Now &raquo;</a></p>
      </div>

        <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Manage Users</h2>
          <p>
            Using this application, I'll learn to add, remove and edit users for the application
          </p>
        </div>
        <div class="col-md-4">
          <h2>Leave Messages</h2>
          <p>
            Users will be able to leave a message to another user using this applicaiton
          </p>
        </div>
        <div class="col-md-4">
          <h2>Edit User Information</h2>
          <p>
            Admins will be able to edit another user's information
            (email address, first name, last name, etc.)
          </p>
        </div>
      </div>

      {% endblock %}
