<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'coursesapp/css/style.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </head>
  <body>
    <div class="container">
      <h3>Add a new course</h3>
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
      </div>
      {% endif %}
      <form action="add" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="course_name">
        </div>

        <div class="form-group">
          <label>Description: </label>
          <textarea class="form-control" name="course_description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
      </form>
      <div class="row">
        <h3>Courses</h3>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Description</th>
              <th>Date Added</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
            <tr>
              <td>{{course.name}}</td>
              <td>{{course.description.description}}</td>
              <td>{{course.created_at}}</td>
              <td><a href="delete/{{course.id}}">delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
</body>
</html>
