<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Belt Reviewer</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'log_reg/css/log_reg.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="">Test App</a></li>
          <li><a href="/">Home</a></li>

          {% if user_in_session %}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/users/edit">Profile</a></li>

          <li><a href="" style="margin-left:400px;">user in session: {{user_in_session}}</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/register">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block%}

      {% endblock %}
    </div>
</body>
</html>
